
@{
    ViewBag.Title = "sample";
}

<h2>sample</h2>

<input type="button" id="getdetails"/>
<div id="loadDynamic"><span>Empty</span></div>
<script src="Scripts/jquery-2.1.1.js"></script>

<script>
    $(document).on('click', '#getdetails', function () {
        $("#loadDynamic").load('/usedcars/index/',function(){});
    });
</script>

