@model IEnumerable<CarEntities.CarDetail>
            
    @{
        ViewBag.Title = "SearchResult";
    }

    <!doctype HTML>

    <html lang="en">
    <head>
        <title>Used Cars</title>
    </head>
    <body>
        <div>
            <span>Fileter by location:</span>
            <select id="location">
                <option value="" selected="selected">city</option>
                <option value="Mumbai">mumbai</option>
                <option value="Delhi">delhi</option>
                <option value="Nagpur">nagpur</option>
            </select>

            <span>Filter by budget</span>
            
            <input id="minBudget" placeholder="min value" />
            <input id="maxBudget" placeholder="max value" />
            
            <input id="gobtn" type="button" value="Go"/>
        </div>
        <div id="listing-section">
            @{Html.RenderPartial("~/Views/Shared/_bindCarResult.cshtml", Model);}
        </div>
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script>
            $(document).ready(function () {
                $('#location').change(function () {
                    var cityName = $(this).val();
                    $("#listing-section").load("/UsedCars/Filter/?city=" +cityName, function (response, status) {
                        if (status == "error") {
                            console.log("sdgjsgk");
                        }
                    });
                });
                $('#gobtn').click(function () {
                    var minBudget = $('#minBudget').val();
                    var maxBudget = $('#maxBudget').val();
                    var cityName = $('#location').val();
                    $("#listing-section").load("/UsedCars/Filter/?city=" +cityName+"&minbudget="+minBudget+"&maxbudget="+maxBudget, function (response, status) {
                        if (status == "error") {
                            console.log("sdgjsgk");
                        }
                    });
                });
            });
        </script>
    </body>
    

</html>
