@model IEnumerable<UsedCarEntities.UsedCarModel>
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Used Cars</title>
    <style>
        td {
            padding: 5px;
            margin: 5px;
        }
    </style>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
<body>
    <center>
        <div>
            <h2>Used Cars Powered by <i>Flatmates</i></h2>
            <span>Fileter by location:</span>
            @{Html.RenderAction("CarCities");}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>Filter by budget</span>
            <input id="minBudget" class="numbersOnly" placeholder="min value" size="10" />
            <input id="maxBudget" class="numbersOnly" placeholder="max value" size="10" />
            <input id="gobtn" type="button" value="Go" />
            <br />
            <span id="tooltip"></span>
        </div>
        <div id="listing-section">
            @{Html.RenderPartial("~/Views/Shared/_bindCarResult.cshtml", Model);}
        </div>
        <button id="btnprev" >prev</button><br /><button id="btnnext">next</button>
    </center>
    
    @{
       string MaxResultCountPerPage = System.Web.Configuration.WebConfigurationManager.AppSettings["MaxResultCountPerPage"]
        .ToString();
        
    } 
    @if (Model.Count() < Int32.Parse(MaxResultCountPerPage))
    {
        <script>
            $('#btnnext').each(function () {
                $(this).css("display", "none");
            });
        </script>
    }
    else
    {
        <script>
            $('#btnnext').each(function () {
                $(this).css("display", "block");
            });
        </script>
    }
    <script>
        function getUrlVars() {
            var vars = [], hash;
            var href = window.location.href;
            var hashes = href.slice(href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
       
        
        </script>
    <script src="~/Content/script.js"></script>
    <script>
        $(window).on('popstate', function (e) {
            var state = e.originalEvent.state;
            if (state !== null) {
                var res = getUrlVars();
                var page = getUrlVars()["page"];
                if (!page) {
                    page = 0;
                    
                }
                if (page == 0)
                {
                    $('#btnprev').each(function () {
                        $(this).css("display", "none");
                    });
                }
                else {
                    $('#btnprev').each(function () {
                        $(this).css("display", "block");
                    });
                }
                
                
                
                var cityName = getUrlVars()["city"];
                if (!cityName) {
                    cityName = "all";
                }
                var minBudget = getUrlVars()["minbudget"];
                if (!minBudget || minBudget < MINBUDGET) {
                    minBudget = MINBUDGET;
                }
                var maxBudget = getUrlVars()["maxbudget"];
                if (!maxBudget || maxBudget > MAXBUDGET) {
                    maxBudget = MAXBUDGET;
                }
               
              
                $("#listing-section").load("/UsedCars/Filter/?page=" + page + "&city=" + cityName + "&minbudget=" + minBudget + "&maxbudget=" + maxBudget, function (response, status) {
                    if (status == "error") {
                    }
                });
            }
        });
    </script>
</body>
</html>
